.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
  max-width: 1800px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.photo-card {
  width: 320px;
  box-sizing: border-box;
  border: 1px solid #e7e9fc;
  border-radius: 8px;
}

.small-img {
  width: 320px;
  height: 250px;
}
.info {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.info-item {
  text-align: center;
  color: #434455;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 200;
  letter-spacing: 0.02em;
}
.link {
  text-decoration: none;
}
.load-more {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  margin-bottom: 40px;
}

.load-more:hover {
  background-color: #0056b3;
}

.search-form {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

.search-form input[type='text'] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 16px;
  outline: none;
}

.search-form button[type='submit'] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 16px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
}

.search-form button[type='submit']:hover {
  background-color: #0056b3;
}

.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.scroll-top-btn:hover {
  background-color: #0056b3;
}
