.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
  max-width: 1800px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.photo-card {
  width: 320px;
  box-sizing: border-box;
  border: 1px solid #e7e9fc;
  border-radius: 8px;
  /* border-top: none; */
  /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(51, 110, 199);
  height: 45px;
}
.small-img {
  width: 320px;
  height: 250px;
}
.info {
  display: flex;
  gap: 10px;
  /* align-items: center; */
  justify-content: center;
}
.info-item {
  text-align: center;
  color: #434455;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 200;
  letter-spacing: 0.02em;
}
.link {
  text-decoration: none;
}
